body {
  background-color: #212327;
  cursor: default;
  overflow: hidden;
}

#move {
  -webkit-app-region: drag;
}

.buttons {
  stroke-width: 0;
  border: none;
  font-family: "comic-sans";
  font-weight: bold;
}

#hide {
  background-color: transparent;
  width: 50px;
  height: 50px;
  cursor: pointer;
  background-image: url("show.png");
  background-size: cover;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
}

#hide:hover {
  background-image: url("hide.png");
}

#twitch {
  background-color: transparent;
  filter: grayscale(100%);
  cursor: pointer;
  -webkit-transition: 0.25s;
  transition: .25s;
}

#kick {
  background-color: transparent;
  filter: grayscale(100%);
  cursor: pointer;
  -webkit-transition: 0.25s;
  transition: .25s;
}

#flex-container {
  display: flex;
  justify-content: space-between;
  margin-inline-start: 10px;
  margin-inline-end: 10px;
}

#slidercontainer {
  width: 100%;
}

#slider {
  -webkit-appearance: none;
  appearance: none;
  width: 98%;
  height: 20px;
  background: #005658;
  outline: none;
  margin-inline-start: 1%;
  margin-top: 10px;
  border-radius: 10px;
  overflow: hidden;
}

#slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: #002025;
  cursor: pointer;
  border: none;
}

#menu {
  background-color: teal;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
}

#search {
  width: 200px;
  border: 4px solid rgb(59, 59, 59);
  -webkit-transition: 0.5s;
  transition: .5s;
  margin-top: 4px;
  margin-bottom: 4px;
  font-size: 20px;
  outline: none;
  padding-left: 8px;
  background-color: #005658;
  font-family: Helvetica, sans-serif;
  color: aliceblue;
}

#search:focus {
  border: 4px solid #002025;
}

#search-buttons {
  display: inline-flex;
  position: relative;
  right: 5%;
}

#twitch:hover {
  filter: none;
}

#kick:hover {
  filter: none;
}

#twitch-embed iframe{
  margin-top: 1.5vh;
  border-radius: 10px;
}

#kick-embed {
  margin-top: 1.5vh;
  border-radius: 10px;
}