body {
  background-color: #212327;
  cursor: default;
}

#move {
  -webkit-app-region: drag;
}

.buttons {
  stroke-width: 0;
  border: none;
  font-family: "comic-sans";
  font-weight: bold;
}

#hide {
  background-color: lightgreen;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

#twitch {
  background-color: transparent;
  filter: grayscale(100%);
  cursor: pointer;
  -webkit-transition: 0.25s;
}

#kick {
  background-color: transparent;
  filter: grayscale(100%);
  cursor: pointer;
  -webkit-transition: 0.25s;
}

#flex-container {
  display: flex;
  justify-content: space-between;
  margin-inline-start: 10px;
  margin-inline-end: 10px;
}

#slidercontainer {
  width: 100%;
}

#slider {
  -webkit-appearance: none;
  appearance: none;
  width: 98%;
  height: 20px;
  background: #d3d3d3;
  outline: none;
  margin-inline-start: 1%;
  margin-top: 10px;
}

#slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #04AA6D;
  cursor: pointer;
}

#menu {
  background-color: teal;
  padding-top: 10px;
  padding-bottom: 10px;
}

#search {
  width: 200px;
  border: 4px solid #ccc;
  -webkit-transition: 0.5s;
  margin-top: 4px;
  margin-bottom: 4px;
  font-size: 20px;
  outline: none;
  padding-left: 8px;
}

#search:focus {
  border: 4px solid rgb(59, 59, 59);
}

#search-buttons {
  display: inline-flex;
  position: relative;
  right: 5%;
}

#twitch:hover {
  filter: none;
}

#kick:hover {
  filter: none;
}